body{
    background-color: aliceblue;
}
@media (max-width:550px){
    .container{
            background-color: rgb(189, 55, 55);
            margin: auto;
            width: 720px;
            padding: 10px;
        }
}
@media (min-width:551px) {
    .container{
        background-color: gray;
        margin: auto;
        width: 720px;
        padding: 10px;
    }
}
.container #inside_container{
    background-color: brown;
    margin-top: 10px;
    margin-left: 10px;
    width: 695px;
    height: 80px;
    text-align: center;
    padding: 1px;
}
.container #next_inside{
    background-color: yellowgreen;
    margin-top: 10px;
    margin-left: 10px;
    width: 690px;
    height: 40px;
    text-align: center;
    color : rgb(53, 6, 97);
    font-size: large;
    padding: 3px;
}
.container .divided_box{
    background-color: burlywood;
    margin: 10px;
    margin-top: 5px;
    margin-left: 10px;
    width: 700px;
    height: 220px;
}
.divided_box #inside_box{
    background-color: cadetblue;
    width: 500px;
    height: 200px;
    margin: 10px;
    float: left;
    text-align: center;
    font-size: x-large ;
    color: rgb(89, 15, 30);
}
.divided_box #next_box{
    background-color: darkgoldenrod;
    width: 170px;
    height: 200px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large ;
    color: rgb(9, 30, 100);
}
.container .width_divided_box{
    display: inline-block;
    background-color: burlywood;
    width: 163px;
    height: 180px;
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(117, 66, 92);
}